.background {
    background-color: #6e8f82;
}

.dcheader {
    font-family: 'Cantarell', sans-serif;
    
}


.linkclass {
    color: #3d4f48;
    
}


.sansserif {
    font-family: Arial, Helvetica, sans-serif;
  }
  