.background {
    background-color: #6e8f82;
}

.dcheader {
    font-family: 'Cantarell', sans-serif;
    
}



font-family: 'Cantarell', sans-serif;
font-family: 'Francois One', sans-serif;


.sansserif {
    font-family: Arial, Helvetica, sans-serif;
  }
  